<!-- views/index.ejs -->
<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <img src="/images/fruit.jpg" alt="Fresh fruit" class="img-fluid rounded shadow">
    </div>

    <div class="col-sm-6">
      <h1 class="mb-3">Welcome!</h1>
      <p class="lead">Please check out all the cool recipes!</p>
      <p>
        If you want to see a cooking course, click
        <a href="/courses" class="text-decoration-none fw-bold">the courses page</a> and explore!
      </p>
      <p>
        You can <a href="/contact" class="text-decoration-none fw-bold">subscribe here!</a>
        Soon you'll be cooking in your own home.
      </p>
    </div>
  </div>
</div>
